// Colors
$colors : (
  "primary": hsl(357, 64%, 74%),
  "secondary": hsl(334, 28%, 24%),
  "accent": hsl(357, 64%, 74%),
  "white": hsl(354, 63%, 97%),
  "black": hsl(0, 63%, 3%)
);

// Spacing
$base-margin: 0.75rem !default;
$base-padding: 0.75rem !default;

// Font properties
$base-font-size: 1rem !default;


