// Colors
$colors : (
  "primary": rgb(231, 146, 151),
  "secondary": hsl(334, 28%, 24%),
  "accent":hsl(135, 50%, 74%),
  "white": hsl(354, 63%, 97%),
  "black": hsl(0, 63%, 3%)
);

// Spacing
$base-margin: 0.75rem !default;
$base-padding: 0.75rem !default;

// Font properties
$base-font-size: 1rem !default;


