#tiles {
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  z-index: -99998;
}

.tile {
  background-color: map-get($colors, "black" );
  height: calc(100% - 1px);
  width: calc(100% - 1px);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -99999;
  background-image: linear-gradient(to bottom, map-get($colors, "black" ) 30%, rgba(189, 47, 78, 0.575) 50%, map-get($colors, "black" ) 80%);
  background-size: 100% 600%;
  animation: bg-animation 7s infinite;
}




@keyframes bg-animation {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}